extends layout
include components/cards

block content
  .container
    .row
      .offset-md-2
        h1= subtitle
    .row
      .col-md-6.offset-md-2
        |
        h5 This is a mock website created for the University of Bristol's COMS32500 Web Technologies unit.
        br 
        strong Please do not attempt to buy anything - nothing is actually for sale.
        br
        br 
        p Products, images, and descriptions are retouched/edited versions of products for sale at 
          a(href='http://www.boardwisecannock.co.uk/windsurfing-c-385.html') Boardwise
          |. If you like the look of any products, head over there.
