extends ../layout

block content

  .container
    .row
      .offset-md-2
        h1= subtitle
    .row
      .col-md-6.offset-md-2
        br
        p Checkout disabled - not a real website - nothing is actually for sale!
